$fontFamily: sans-serif;
$backgroundContent: white;
$backgroundCard: #ededed;
$mainColor: #27bbce;
$headerColor: #2198a5;
$borderColor: #66808c;
$postDescrColor: #199e8e;
$formColor: #6d6d6d;

